/* ------------- About Us section style for desktop version ---------- */
.section__about,
.section__ingredients {
    background: #fff;
} 
.section__about .section__about-top{
    height:96px;
    background: url('../img/divider-1.svg') repeat-x;
}
.section__about .section__about-bottom {
    height:166px;
    background: url('../img/divider-2.svg') repeat-x;
}

.section__about-main {
    overflow: hidden;
    display:flex;
    flex-direction:column;
    justify-content:center;
    background-image: url(../img/bg-about_section.jpg);
    background-size: cover;
    padding:0 24px;
}
.section__about-image {
    width:50%;
}
.section__about-image img {
    width:100%;
    vertical-align: middle;
}
.section__about-main .section__about-post {
    width:50%;
}
.section__about-main .section__about-post .slogan-text {
    color:#282623;
}
/*  */
.about__post-listmenu {
    padding:0;
    margin:0;
    overflow:hidden;
    display:flex;
    /*justify-content:space-between;*/
}
.about__post-listmenu p {
    margin:0;
    padding: 0 12px 0 0;
}
.about__post-listmenu p span {
    color: #625961;
    font-family: Lato, sans-serif;
    font-size:17px;
}
.about__post-listmenu p span::before {
    width:20px;
    height:20px;
    background-color: #fcbe37;
    color:#fff;
    border-radius: 50%;
    content: "✔";
    display: inline-block;
    margin-right:10px;
    font-size:12px;
    text-align:center;
}
.about__post-link-to-page .link-to-page {
    background-color: #e7272d;
    color:#fff;
    text-decoration: none;
    font-size:16px;
    line-height: 1.2em;
    font-family: Lato, sans-serif;
    border-radius: 25px;
    padding:16px 28px;
    display:inline-block;
}
.about__post-link-to-page .link-to-page:hover {
    animation-name: background-color;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
}
@keyframes background-color {
    100% {
        background-color: #000;
    }
}
/* -------------------- About section style for min-width 320px ----------------- */
@media screen and (min-width:320px) and (max-width:640px){
    .section__about .section__about-top{
        height:60px;
        background-size: cover;
    }
    .section__about .section__about-bottom {
        height:60px;
        background-size: cover;
    }
    .section__about-main {
        background-image: none;
        background-color: #fff;
    }
    .section__about-main .section__about-post {
        width:100%;
    }
    .section__about-image {
        width:100%;
    }
}
/* -------------------- Ingredient section desktop version ---------------------- */
.section__ingredients {
    overflow: hidden;
}
.section__ingredients .section__ingredients-image {
    float:left;
    width:49%;
}
.section__ingredients .section__ingredients-image img {
    width:100%;
    vertical-align: middle;
}
.section__ingredients .section__ingredients-post {
    float:right;
    width:49%;
}