/* About Us section style */
.section__about,
.section__ingredients {
    background: #fff;
} 
.section__about .section__about-top{
    height:96px;
    background: url('../img/divider-1.svg') repeat-x;
}
.section__about .section__about-bottom {
    height:166px;
    background: url('../img/divider-2.svg') repeat-x;
}
.section__about-main {
    overflow: hidden;
}
.section__about-image {
    float:left;
    width:49%;
}
.section__about-image img {
    width:100%;
    vertical-align: middle;
}
.section__about-main .section__about-post {
    float:right;
    width:49%;
}
/*
.section .about__slogan-text,
.section .ingredients__slogan-text {
    color:#4f5047;
    font-size:56px;
    font-family:Rubik,sans-serif;
    font-weight: 700;
    margin:0 0 25px;
}
p.about__promo-text,
.ingredients__promo-text {
    color:#4f5047;
    font-size:20px;
    font-family: Lato,sans-serif;
    margin:0 0 20px;
    font-weight: 700;
}
*/
.about__post-listmenu {
    padding:0;
    margin:0;
    width:100%;
    overflow:hidden;
}
.about__post-listmenu li {
    display: inline-block;
    padding: 0 12px 0 0;
}
.about__post-listmenu li span {
    color: #625961;
    font-family: Lato, sans-serif;
    font-size:17px;
}
.about__post-listmenu li span::before {
    width:20px;
    height:20px;
    background-color: #fcbe37;
    color:#fff;
    border-radius: 50%;
    content: "✔";
    display: inline-block;
    margin-right:10px;
    font-size:12px;
}
.about__post-link-to-page .link-to-page {
    background-color: #e7272d;
    color:#fff;
    text-decoration: none;
    font-size:16px;
    line-height: 1.2em;
    font-family: Lato, sans-serif;
    border-radius: 25px;
    padding:16px 28px;
    display:inline-block;
}
.about__post-link-to-page .link-to-page:hover {
    animation-name: background-color;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
}
@keyframes background-color {
    100% {
        background-color: #000;
    }
}
.section__ingredients {
    overflow: hidden;
}
.section__ingredients .section__ingredients-image {
    float:left;
    width:49%;
}
.section__ingredients .section__ingredients-image img {
    width:100%;
    vertical-align: middle;
}
.section__ingredients .section__ingredients-post {
    float:right;
    width:49%;
}