.catering__request {
    background-image: url(../img/hire_us_background_image.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 620px;
    
}
 /*   display:flex;
        align-items: left;
    justify-content: center;
    flex-direction: column;
    */
h2.form_header {
    font-family: 'Permanent Marker', cursive;
    color: var(--text-color-h2);
    text-align: center;
    font-weight: 400;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 16px;
}
catering__request__form {
    display: flex;
}
fieldset {
    width: 272px;
    height: auto;
    border: 1px solid #ffffff;
    background-color: #ffffff;
    border-radius: 3%;
    padding-left: 35px;
    padding-right: 35px;
    margin-top: 100px;
    margin-bottom: 100px;
}
.divider__hire__us__top, .divider__hire__us__bottom {
    position: top;
    width: 100%;
    height: auto;
}
.form__headline {
    text-align: center;
    font-family: var(--headline-font-family);
    font-size: 30px;
    font-weight: 700;
    padding-bottom: 20px;
}
.form__subheadline {
    text-align: center;
    font-family: var(--subheadline-font-family);
    font-size: 20px;
    font-weight: 700;
    padding-bottom: 25px;
    line-height: 30px;
    color: var(--subheadline-text-color);
}
.form__input__field {
    border-radius: 20px;
    background-color: #fbf7ed;
    margin-bottom: 20px;
    font-family: var(--subheadline-font-family);
    border: none;
    font-size: 15px;
    width: 83%;
    padding: 11px 22px;
}
.form__button {
    display: inline-block;
    border-radius: 20px;
    background-color: var(--text-color-h2);
    color: #ffffff;
    width: 100%;
    border: none;
    margin-top: 30px;
    padding: 11px 22px;
    font-size: 15px;
    font-family: var(--subheadline-font-family);
    font-weight: 400;
    margin-bottom: 30px;
}
@media screen and (max-width: 400px) {
    fieldset {  
        display: block;
        margin-left: auto;
        margin-right: auto;}
    .catering__request {
        background-position: left;   
}}
.blog {
    background-image: url(../img/blog_background.jpg);
    background-size: cover;
    background-position: center;
    min-height: 620px;
    background-repeat: no-repeat;
    
}
.blog__headline_info {
padding-top: 10px;
display: block;
margin-left: auto;
margin-right: auto;
}
.blog__headline {
    text-align: center;
    font-family: var(--headline-font-family);
    font-size: 38px;
    font-weight: 700;
    margin-bottom: 15px;
}
.blog__subheadline {
    text-align: center;
    font-family: var(--subheadline-font-family);
    font-size: 20px;
    font-weight: 700;
    color: #4f5047;
    line-height: 30px;
    margin-bottom: 15px;
    padding-left: 5px;
    padding-right: 5px;
}
.blog__card {
    height: auto;
    padding: 25px;
    display: grid;
    grid-template-columns: 1fr 1f 1f;
   }
@media screen (max-width: 400;) {
    .blog__card__list {
        display: grid;
        grid-template-columns: 1fr;
        gap: 5px;}
}
@media (min-width: 640px) {
    .blog__card__list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 5px;
    }}
@media (min-width: 810px) {
    .blog__card__list {
        grid-template-columns: 1fr 1fr 1fr;
    }}
.blog__image {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-top: 5px;
}
.article__headline {
    margin-top: 10px;
    margin-bottom: 10px;
}
.article__headline__style {
    color: var(--text-color-h2);
    font-family: var(--subheadline-font-family);
    font-size: 14px;
    font-weight: 900;
}
.article__headline__date__style {
    color: var(--yellow-color);
    font-family: var(--subheadline-font-family);
    font-size: 14px;
    font-weight: 700;
}
.article__title {
    font-family: var(--headline-font-family);
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 10px;
}
.article__text {
    font-family: var(--subheadline-font-family);
    font-size: 17px;
    font-weight: 400;
    margin-bottom: 10px;
    color: var(--grey-color);
    line-height: 25.5px;   
}
.button__read__article {
    background-color: var(--yellow-color);
    color: var(--white-color);
    text-decoration: none;
    font-size: 16.5px;
    font-weight: 700;
    font-family: var(--subheadline-font-family);
    padding: 15px 20px;
    border-radius: 20px;
    margin-top: 20px;
    display: inline-block;
    width: 30%;
    text-align: center;
}