.wrapper {
  margin: 0px auto;
  width: 100%;
}

.page__catering-main {
  width: 100%;
  margin: auto;
  overflow: hidden;
}

.section__catering-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  box-sizing: border-box;
}

.catering__banner-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 80px;
  max-width: 1200px;
  margin: auto;
}

@media screen and (min-width: 800px) {
  .catering__banner-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    width: 100%;
    height: auto;
    box-sizing: border-box;
  }

  .section__catering-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    width: 100%;
    height: auto;
    box-sizing: border-box;
  }

  .section__catering-post {
    width: 100%;
    height: auto;
    margin: 0;
  }
}

.section__catering-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section__catering-post {
  padding: 90px 30px 25px 30px;
}

.section__catering-post-heading {
  color: var(--text-color-h2);
  font-family: var(--permanent-marker-font);
  font-size: 16px;
  text-align: left;
}

.catering__slogan {
  color: var(--catering-slogan-text-color);
  font-family: var(--headline-font-family);
  font-size: 38px;
  font-weight: 700;
  text-align: left;
  margin-top: 20px;
}

.catering__promo-text {
  color: var(--subheadline-text-color);
  font-family: var(--subheadline-font-family);
  font-size: 20px;
  font-weight: 600;
  text-align: left;
  margin-top: 25px;
  line-height: 1.5;
}

.catering__post-listmenu {
  padding-left: 30px;
  margin-top: 25px;
}

.catering__post-list ul {
  list-style-type: none;
  padding: 0;
  margin-top: 25px;
  padding-left: 30px;
}

.catering__post-list-item {
  color: var(--subheadline-text-color);
  font-family: var(--subheadline-font-family);
  font-size: 17px;
  font-weight: 600;
  text-align: left;
  margin-bottom: 25px;
}

.catering__post-list p::before,
.catering__post-list-item p::before {
  width: 20px;
  height: 18px;
  padding-top: 2px;
  background-color: var(--main-bcgr-color);
  color: var(--white-color);
  border-radius: 50%;
  content: "✔";
  display: inline-block;
  margin-right: 10px;
  font-size: 12px;
  text-align: center;
}

.catering__post-text-box {
  padding-left: 30px;
  margin-bottom: 60px;
}

.catering__post-text {
  color: var(--article-text-color);
  font-family: var(--subheadline-font-family);
  font-size: 17px;
  text-align: left;
  line-height: 1.5;
}

/*=====================================================*/
.section__catering-cards {
  background-image: url(../img/catering-page-options-section-background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  padding: 90px 0px;
  position: relative;
  overflow: hidden;
}

.section__catering-cards_container {
  padding: 0px 25px;
}

.options_heading,
.section__catering-cards_promo-text {
  text-align: center;
}

.catering__page-cards_promo-text_second-line {
  margin-top: 0px;
}

.section__catering-cards_cards-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 45px;
}

.section__catering-cards_card-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 15px;
}

.section__catering-cards_card-image {
  display: block;
  width: 70px;
  height: 70px;
}


.img-catering_holder {
  border-radius: 50%;
  overflow: hidden;
}

.img-catering_holder-container {
  background-color: var(--text-taste-post-color);
  padding: 19px;
}


.section__catering-cards_card-title {
  color: var(--slogan-text-color);
  font-family: var(--headline-font-family);
  font-size: 24px;
  margin-top: 20px;
}

.section__catering-cards_card-subtitle {
  color: var(--article-text-color);
  font-family: var(--subheadline-font-family);
  font-size: 17px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 30px;
}

@media screen and (min-width: 770px) {
  .section__catering-cards_cards-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
  }
}

@media screen and (min-width: 990px) {
  .section__catering-cards_cards-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    justify-content: center;
  }
}

/*=====================================================*/
.section__delivery {
  /*padding: 90px 30px;*/
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section__delivery_container {
  /*padding: 0px 15px;*/
  padding: 90px 30px;
}

.section__delivery_text-block_subtitle {
  margin-top: 25px;
}

.section__delivery_text-block {
  padding: 0px 20px 0px 30px;
}

.section__delivery_text-block_text {
  color: var(--subheadline-text-color);
  font-family: var(--subheadline-font-family);
  font-size: 20px;
  font-weight: 600;
  text-align: left;
  margin-top: 25px;
  line-height: 1.5;
}

.section__delivery_text-block-listmenu {
  color: var(--article-text-color);
  font-family: var(--subheadline-font-family);
  font-size: 17px;
  text-align: left;
  margin-top: 25px;
  margin-bottom: 25px;
}

.delivery_text-list p::before,
.delivery_text-list-item p::before {
  width: 20px;
  height: 18px;
  padding-top: 2px;
  background-color: var(--main-bcgr-color);
  color: var(--white-color);
  border-radius: 50%;
  content: "✔";
  display: inline-block;
  margin-right: 10px;
  font-size: 12px;
  text-align: center;
}

.delivery_text-block_subtext {
  color: var(--article-text-color);
  font-family: var(--subheadline-font-family);
  font-size: 17px;
  text-align: left;
  margin-top: 25px;
  line-height: 1.5;
}

.section__delivery_container-map {
  box-sizing: border-box;
  border: none;
}

iframe {
  width: 100%;
  height: 100%;
  padding: 0px;
  border-width: 0px;
  margin: 0px;
  left: 0px;
  top: 0px;
  touch-action: pan-x pan-y;
}

@media screen and (min-width: 770px) {
  .section__delivery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    vertical-align: baseline;
  }
}

/*=====================================================*/

.section__catering_container {
display: flex;
justify-content: space-between;
padding: 60px 0 40px 0;
}



.section__catering-form {
  background-image: url(../img/catering-page-form-background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content:flex-end;
}

.section__catering_container {

}

.catering__page_divider-bottom {
  background-image: url(../img/catering-page-divider.svg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 69px;
}