@import url('https://fonts.googleapis.com/css2?family=Lato&family=Permanent+Marker&family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

/* heading for sections */
.section__heading {
    color:#e7272d;
    font-size:20px;
    font-family: 'Permanent Marker', cursive;
}
