@import url('https://fonts.googleapis.com/css2?family=Lato&family=Permanent+Marker&family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

/* heading for sections */
:root {
    --text-color-h2: #e7272d;
    --main-details-color: #e7272d;
    scroll-behavior: smooth;
    --headline-font-family: 'Rubik', sans-serif;
    --subheadline-font-family: 'Lato', sans-serif;
    --subheadline-text-color: #454545;
    --read-article-button-bgr-color: #fbbe36;
    --main-bcgr-color: #fbbe36;
    --bg-color-burgers: rgb(251,247,237);
    --grey-color: #676767;
    --list-items-color:rgb(69,69,69);
    --white-color: #ffffff;
    --slogan-text-color:#282623;
    --promo-text-color:#4f5047;
    --paragraph-text-color:#625961;
    --button-text-color: #ffffff;
    --permanent-marker-font: 'Permanent Marker', cursive;
    --form-input-field-background-color: #fbf7ed;
    --button-background-color-on-hover: #000000;
    --input-field-focus-border-color: #0076b7;
}
* {
    margin: 0;
    padding: 0;
}
.section__heading {
    color:var(--text-color-h2);
    font-size:20px;
    font-family: var(--permanent-marker-font);
    margin:0 0 20px;
}
.section p {
    color:var(--paragraph-text-color);
    font-size:17px;
    line-height: 1.5;
    font-family: var(--subheadline-font-family);
    font-weight: 400;
    margin:0 0 25px;
}
.section .slogan-text,
.slogan-text{
    color:var(--slogan-text-color);
    font-size:56px;
    font-family:var(--headline-font-family);
    font-weight: 700;
    margin:0 0 25px;
}
.section .promo-text,
.promo-text {
    color:var(--promo-text-color);
    font-size:20px;
    font-family: var(--subheadline-font-family);
    margin:0 0 20px;
    font-weight: 700;
}

.button {
    text-align: center;
    text-decoration: none;
    font-family: var(--subheadline-font-family);
    border-radius: 25px;
    border: 0;
}
/* -------------------- common style for min-width 400px ----------------- */
@media screen and (min-width:400px){
    .section__heading {
        font-size:16px;
        line-height: 1.4;
    }
    .section .slogan-text,
    .slogan-text{
        font-size:38px;
        line-height: 1.1;
    }
}
/* -------------------- common style for min-width 810px ----------------- */
@media screen and (min-width:810px){
    .section__heading {
        font-size:18px;
        line-height: 1.4;
    }
    .section .slogan-text,
    .slogan-text{
        font-size:47px;
        line-height: 1.2;
    }
}