.header {
  background-color: var(--main-bcgr-color);
  background-image: none;
}

.header__banner {
  padding-top: 80px;
}

.hb-text__container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header__banner-text {
  color: white;
}

.hb-text__container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.header__banner-supertitle {
  font-size: 40px;
}

@media (min-width: 800px) {
  .hb-text__container {
    display: flex;
    flex-direction: row;
  }

  .header__banner-supertitle {
    font-size: 63px;
  }
}

.header__divider {
  max-width: 1600px;
  width: 100%;
}

.cards__container {
  background-color: var(--bg-color-contacts-cards);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: -10px;
}

@media (min-width: 800px) {
  .cards__container {
    padding: 0 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: -10px;
  }
}

.contacts-card__icon {
  width: 70px;
}

.card__box {
  height: 320px;
  width: 300px;
  padding: 0 25px;
  background-color: var(--contactsd-cards-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 5px 5px 5px;
}

.contacts-card__text {
  text-align: center;
}
