.section__contact_section__us-top {
    background-image: url(../img/divider_top_contact_us_index_page.jpg);
    background-size: cover;
    height:96px;
}

.section_contact_us-block {
    background-image: url(../img/contact_us_index_page_block_background.png);
    background-size: cover;
    background-position: center;
    display: flex;
    min-width: 620px;
    position:inherit;
    flex-direction:column;
    
}


.section_contact_us-main_left { 
    float: left;
    width: 50%;
    padding: 5px;
}

.section_contact_us-main_right { 
    float: left;
    width: 50%;
    padding: 5px;
}

/*.contact_us_section-blockTitle {

}

.box {
    height: 150px;
  }*/