
.contact_us_section-block {
    
   
    background-image:url(../img/contact_us_index_page_block_background.png);
    background-size: cover;
    background-position: center;
    display:flex;
    min-width: 620px;
    padding-top: 100px;
    padding-bottom: 100px;
    align-items: left;
    position: relative;
    flex-direction: column;
}

.section__contact_us-top {
    height: 96px;
    background-image: url(../img/divider_top_contact_us_index_page.jpg);
    background-size: cover;
}

/* .contact_us-section_index-page {
    background-image: url(../img/contact_us_index_page_block_background.png);
    background-size: cover;
    background-position: center;
    display:flex;
    min-height: 620px;
    padding-top: 100px;
    padding-bottom: 100px;
    align-items: left;
    justify-content: center;
    flex-direction: column; */
}

/* .contact_us_index-page-blockTitle {
    display: block;
    text-align: left;
    color:#4f5047;
    font-size:96px;
    font-family:Rubik,sans-serif;
    font-weight: 700;
    margin:0 0 25px;
    
} */ 