footer {
    margin: 0;
    background-color: #282623;
    display: flex;
    flex-direction: column;
}

.footer__container {
    max-width: 1200px;
    width: 100%;
    justify-content: space-between;
}

.footer__rights-text {
    margin: 10px 0px;
    font-family: lato, sans-serif;
    color: white;
    font-size: 14px;
}

.fn__logo-icon {
    padding: 15px 0px;
}

.footer__text {
    font-family: lato, sans-serif;
    font-size: 15px;
    color: white;
    width: 200px;
    padding-bottom: 15px;
}
.fsn-link-fb,
.fsn-link-inst,
.fsn-link-yt {
    background-color: var(--main-bcgr-color);
    font-family: Lato, sans-serif;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    font-size: 16px;
    border-radius: 25px;
    padding: 5px 8px;
    display: inline-block;
}
.footer__nav-subtitle {
    font-family: rubik, sans-serif;
    color: white;
    font-weight: bold;
    font-size: 27px;
}

.footer-nav__line {
    width: 38px;
    height: 4px;
    background-color: var(--main-bcgr-color);
    margin: 10px 0px;
}

.footer__nav-link-list {
    display: flex;
    flex-flow: column wrap;
}

.foot__menu-link {
    font-family: lato, sans-serif;
    color: white;
    text-decoration: none;
    padding: 5px 0px;
}

.footer-email__container {
    display: flex;
    flex-direction: column;
}

.footer__email-text {
    font-family: lato, sans-serif;
    color: white;
    width: 200px;
}

.footer-input__email {
    border-radius: 20px;
    background-color: #3b3a3a;
    color: #787878;
    font-size: 15px;
    font-family: var(--subheadline-font-family);
    margin-top: 20px;
    padding: 8px 0;
    border: 0;
    padding-left: 20px;
}

input.footer-input__email:placeholder {
    color: #787878;
}

.footer-button_submit {
    background-color: var(--main-details-color);
    color: #fff;
    font-size: 15px;
    font-family: var(--subheadline-font-family);
    margin-top: 20px;
    padding: 8px 0;
}

.footer__rights {
    justify-content: space-between;
    width: 74%;
}

.footer__line {
    width: 74%;
    margin: 10px 0px;
}

.footer__rights-text {
    margin: 10px 0px;
    font-family: lato, sans-serif;
    color: white;
    font-size: 14px;
}

@media(min-width:500px) {
footer {
    margin: 0;
    background-color: #282623;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__container {
    display: flex;
    max-width: 1200px;
    width: 100%;
    justify-content: space-between;
}

.fn__logo-icon {
    padding-top: 0;
    padding-bottom: 15px;
}

.footer__nav-block,
.footer__nav-menu,
.footer__nav-customer,
.footer__email {
    display: inline-block;
    margin-top: 15px;
    vertical-align: top;
    flex: 1;
}

.footer__rights {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
}

