.header {
  background-color: var(--main-bcgr-color);
  background-image: url(../img/cover.jpg);
  background-size: cover;
}

.header__nav-logo {
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
  z-index: 10;
}

.header__nav-logo.active {
  top: 0;
}

.burger__menu {
  display: block;
  position: relative;
  height: 1px;
  width: 10px;
  padding: 9px;
  cursor: pointer;
  z-index: 5;
}

.burger__menu span,
.burger__menu::before,
.burger__menu::after {
  position: absolute;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: var(--slogan-text-color);
  transition: all 0.5s ease-in-out;
}

.burger__menu span {
  transform: scale(1);
}
.burger__menu::before,
.burger__menu::after {
  content: " ";
}
.burger__menu::before {
  top: 0;
}
.burger__menu::after {
  bottom: 0;
}

.header__main-logo-img {
  width: 200px;
}
.burger__menu.active span {
  transform: scale(0);
}
.burger__menu.active::before {
  top: 50%;
  transform: rotate(-45deg);
}
.burger__menu.active::after {
  bottom: 40%;
  transform: rotate(45deg);
}
.header-navigation__wrapper {
  position: fixed;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--main-bcgr-color);
  z-index: 2;
  transition: top 0.3s ease-in;
  padding-top: 100px;
  transition: top 0.3s ease-in 0.1s;
  overflow: hidden;
  margin: auto;
}

.header-navigation__wrapper.active {
  top: 0;
}

.lock {
  overflow: hidden;
}

.header__nav-menu__mobile {
  color: white;
  font-family: var(--subheadline-font-family);
  font-weight: bold;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 2.25em;
  padding-bottom: 30px;
}

.header__nav-menu {
  display: none;
}

.menu-link {
  text-decoration: none;
  font-family: lato, sans-serif;
  font-weight: bold;
  color: #535353;
  margin: 0px 10px;
}

.menu-link:hover {
  color: var(--main-details-color);
}

.general__information__mobile {
  color: white;
  font-family: lato;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 3em;
  padding-bottom: 30px;
}

.general__information__desktop {
  display: none;
}

.header__social-networks__mobile {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__social-networks {
  display: none;
}

.sn-link,
.fsn-link {
  width: 20px;
}

.sn-link-fb,
.sn-link-inst,
.sn-link-yt {
  margin: 0px 5px;
  background-color: var(--main-details-color);
  font-family: Lato, sans-serif;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  font-size: 16px;
  border-radius: 25px;
  padding: 5px 8px;
  display: inline-block;
}

.sn-link-fb:hover,
.sn-link-inst:hover,
.sn-link-yt:hover {
  background-color: var(--accent-main-details-color);
}

.header__banner {
  align-items: center;
  justify-content: center;
  display: flex;
  padding-top: 130px;
  padding-left: 50px;
  padding-right: 50px;
}

.hb__container {
  max-width: 1200px;
  width: 100%;
  justify-content: space-between;
}

.header__banner-supertitle,
.header__banner-subtitle {
  font-family: var(--headline-font-family);
  font-size: 63px;
  color: white;
}

.header__banner-supertitle {
  width: 70%;
}

.header__banner-subtitle {
  width: auto;
}

.header__banner-text {
  font-family: lato, sans-serif;
  font-weight: bold;
  color: #535353;
  margin-top: 30px;
  line-height: 1.5em;
}

/* =============== Styles for screen size 800px ====================== */
@media (min-width: 800px) {
  .burger__menu,
  .burger__menu span,
  .burger__menu::before,
  .burger__menu::after,
  .header-navigation__wrapper,
  .general__information__mobile {
    display: none;
  }

  .general__information__desktop {
    height: 50px;
    background-color: var(--accent-main-bcgr-color);
    color: white;
    font-family: lato;
    font-weight: bold;
    font-size: 14px;
    align-items: center;
    justify-content: center;
    display: flex;
    vertical-align: top;
  }

  .gi__container {
    display: flex;
    max-width: 1200px;
    width: 100%;
    justify-content: space-between;
    padding: 0 50px;
  }

  .gen-inf__text {
    display: inline-block;
  }

  .header__nav {
    align-items: center;
    justify-content: center;
    display: flex;
  }

  .hn__container {
    display: flex;
    max-width: 1200px;
    width: 100%;
    justify-content: space-between;
    padding: 0 50px;
  }

  .header__nav-logo,
  .header__nav-menu,
  .header__social-networks {
    display: inline-block;
    text-align: center;
    margin-top: 15px;
  }

  .header__nav-menu {
    font-family: var(--subheadline-font-family);
    font-weight: bold;
    font-size: 14px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    line-height: 2.25em;
    padding-bottom: 30px;
  }

  .header__nav-menu__mobile {
    display: none;
  }

  .header__nav-logo {
    padding: 0px;
  }

  .sn-link-fb,
  .sn-link-inst,
  .sn-link-yt {
    background-color: var(--main-details-color);
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    padding: 5px 8px;
    display: inline-block;
  }

  .header__banner {
    align-items: center;
    justify-content: center;
    display: flex;
    padding-top: 130px;
  }

  .hb__container {
    max-width: 1200px;
    width: 100%;
    justify-content: space-between;
  }

  .header__banner-supertitle,
  .header__banner-subtitle {
    font-family: var(--headline-font-family);
    font-size: 63px;
    color: white;
  }

  .header__banner-supertitle {
    width: 70%;
  }

  .header__banner-subtitle {
    width: auto;
  }

  .header__banner-text {
    width: 500px;
    font-family: lato, sans-serif;
    font-weight: bold;
    color: #535353;
    margin-top: 30px;
    line-height: 1.5em;
  }
}
@media (min-width: 810px) {
  .header__banner-supertitle {
    width: 60%;
  }
}

@media (min-width: 1280px) {
  .header__banner-supertitle {
    width: 50%;
  }
}

.header__details {
  align-items: center;
  justify-content: center;
  display: flex;
  padding-bottom: 90px;
}

.hd__container {
  max-width: 1200px;
  width: 100%;
  display: flex;
  padding: 0 50px;
}

.hd__item {
  margin-right: 30px;
  margin-top: 30px;
  display: flex;
}

.hd__subitem {
  margin-right: 13px;
}

.header__order-button {
  background-color: var(--main-details-color);
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  padding: 16px 28px;
  display: inline-block;
  transition: all 0.2s linear;
}

.header__order-button:hover {
  background-color: var(--slogan-text-color);
}

.header__phone-img {
  width: 40px;
}

.header__details-call {
  font-family: lato, sans-serif;
  font-weight: bold;
  color: white;
}

.header__details-number {
  font-family: lato, sans-serif;
  font-weight: bold;
  color: black;
}

/* ============== Header for About Us page ===================== */
.header__about-page {
  background-color: var(--main-bcgr-color);
  background-image: none;
}
.header__about-page .header__banner {
  padding: 130px 30px 80px;
}
.header__banner-container {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 80px;
  max-width: 1200px;
  margin: auto;
  flex-direction: row;
}
.header__about-page .header__banner-holder {
  display: flex;
  flex-direction: column;
  padding: 0 90px 0 0;
}
.header__about-page .header__banner-text {
  color: var(--white-color);
  font-size: 20px;
  line-height: 1.5;
  font-weight: 700;
}

/* ================ Styles for screen size 400px  About Page================ */
@media (min-width: 400px) {
  .header__about-page {
    background-color: var(--main-bcgr-color);
    background-image: none;
  }
  .header__about-page .header__banner {
    display: flex;
    flex-wrap: wrap;
    padding: 80px 30px 50px;
  }
  .header__banner-container {
    flex-direction: column;
  }
  .header__about-page .header__banner-holder {
    display: flex;
    flex-direction: column;
  }
  .header__about-page .header__banner-text {
    color: var(--white-color);
    font-size: 20px;
    line-height: 1.5;
    font-weight: 700;
  }
}

/* =============== Styles for screen size 640px ====================== */
@media (min-width: 640px) {
  .header__about-page {
    background-color: var(--main-bcgr-color);
    background-image: none;
  }
  .header__about-page .header__banner {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 80px;
  }
  .header__banner-container {
    flex-direction: column;
  }
  .header__about-page .header__banner-holder {
    display: flex;
    flex-direction: column;
    padding: 0 60px 0 0;
  }
  .header__about-page .header__banner-text {
    color: var(--white-color);
    font-size: 20px;
    line-height: 1.5;
    font-weight: 700;
  }
}

/* =============== Styles for screen size 810px ====================== */
@media (min-width: 810px) {
  .header__about-page {
    background-color: var(--main-bcgr-color);
    background-image: none;
  }
  .header__about-page .header__banner {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 80px;
  }
  .header__banner-container {
    flex-direction: row;
  }
  .header__about-page .header__banner-holder {
    display: flex;
    flex-direction: column;
    padding: 0 50px 0 0;
  }
  .header__about-page .header__banner-text {
    color: var(--white-color);
    font-size: 20px;
    line-height: 1.5;
    font-weight: 700;
    width: 500px;
  }
}
