.section__ourBurgers {
  background-image: url(../img/bg-ourburgers.jpg);
  background-position: 50% auto;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.section__ourBurgers {
  padding: 0px 0px 50px 0px;
}
.ourBurgers__title {
  text-align: center;
}
.section__ourBurgers-header p {
  text-align: center;
}
.section__ourBurgers-carusel {
  text-align: center;
}

.owl-item {
}
.owl-item p {
  color: var(--paragraph-text-color);
  font-family: var(--subheadline-font-family);
  font-size: 17px;
}
.owl-item span {
  color: var(--main-details-color);
  font-size: 23px;
  font-style: inherit;
  padding: 0px 15px 0px 0px;
}

owl-next {
}
owl-prev {
}
.myNav {
}
