/*
selector {
    property: value;
    another-property: value;
}
*/
.section__services-text-promo {
  color: red;
  font-size: 17px;
  font-family: "Permanent Marker", cursive;
  display: flex;
  flex-direction: row;
  justify-content: center;
  overflow: hidden;
  margin: 0 0 25px;
}

.services-slogan-text {
  color: black;
  font-family: Rubik, "Permanent Marker", sans-serif;
  font-size: 38px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  overflow: hidden;
  line-height: 1.1;
  font-weight: 700;
  margin: 0 0 25px;
}

.services-histori-text {
  color: black;
  font-family: Lato, sans-serif;
  font-size: 17px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-weight: 700;
  margin: 0 0 25px;
}

.franchising-slogan-text {
  color: black;
  font-family: Rubik, sans-serif;
  font-size: 30px;
  font-weight: 700;
  justify-content: center;
  margin: 0 0 25px;
  
}
.franchising-histori-text {
  color: black;
  font-family: Lato, sans-serif;
  font-size: 17px;
  font-weight: 700;
  justify-content: center;
  margin: 0 0 25px;
}

.franchising-slogan-included {
  color: black;
  font-family: Lato, sans-serif;
  font-size: 17px;
  margin: 0 0 25px;
}

.franchising-text-practical {
  color: black;
  font-family: Lato, sans-serif;
  font-size: 17px;
  justify-content: center;
  margin: 0 0 25px;
}

.franchising-button-link .button__franchising {
  background-color: var(--read-article-button-bgr-color);
  color: var(--button-text-color);
  text-decoration: none;
  font-size: 16.5px;
  font-weight: 400;
  font-family: var(--subheadline-font-family);
  padding: 16px 28px;
  border-radius: 25px;
  margin-top: 20px;
  text-align: center;
  cursor: pointer;
  color: var(--white-color);
  display: inline-block; 

}

.button__franchising:hover {
  background-color: var(--button-background-color-on-hover);
}
@media screen and (min-width: 810px) {
.section_franchising {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  overflow: hidden;
  padding: 30px 0;
}
}

.gatering-slogan-text {
  color: black;
  font-family: Rubik, sans-serif;
  font-size: 30px;
  display: flex;
  font-weight: 700;
  margin: 0 0 25px;
}

.gatering-histori-text {
  color: black;
  font-family: Lato, sans-serif;
  font-size: 17px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-weight: 700;
  margin: 0 0 25px;
}

.gatering-slogan-party {
  color: black;
  font-family: Lato, sans-serif;
  font-size: 17px;
  display: flex;
  flex-direction: row;
  margin: 0 0 25px;
}

.gatering-slogan-corporate {
  color: black;
  font-family: Lato, sans-serif;
  font-size: 17px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 0 25px;
}

.catering-button-link .button__catering {
  background-color: var(--read-article-button-bgr-color);
  color: var(--button-text-color);
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  font-family: var(--subheadline-font-family);
  padding: 16px 20px;
  border-radius: 20px;
  margin-top: 20px;
  text-align: center;
  cursor: pointer;
  color: var(--white-color);
  display: inline-block; 
}

.button__catering:hover {
  background-color: var(--button-background-color-on-hover);
}

.section__services {
  background-image: url( /img/fon.servise.jpg);
  background-size: cover;
}
.container {
  max-width: 980px;
  margin: auto;
}
@media screen and (min-width: 768px)   {  
  .franchising-slogan-text {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 30px 0;
  }
  
}