/*
selector {
    property: value;
    another-property: value;
}
*/
.section__services-text-promo {
    color: red;
    font-family: "Permanent Marker", cursive;
 }
.services-slogan-text {
color: black;
font-family: Rubik, sans-serif;
font-size:38px
 }

