/*
selector {
    property: value;
    another-property: value;
}
*/
.section__services-text-promo {
    color: red;
}
.section__services-text-promo { 
font-family: "Permanent Marker", cursive;
}
.services-slogan-text {
color: black;
font-family: Rubik, sans-serif;
}
.services-slogan-text { 
    font-size:38px
}

