.video__showcase {
  background-image: url(../img/burgerbackground_video.jpeg);
  margin-top: 5px;
}
.video__title {
  color: red;
  font-family: "Permanent Marker", cursive;
  display: flex;
  flex-direction: row;
  justify-content: left;
  overflow: hidden;
}
.video__showcase-preparation {
  padding-top: 50px;
  padding-left: 25px;
}
.video__subtitle {
  color: #fff;
  font-family: var(--headline-font-family);
  font-size: 46px;
  margin-left: 25px;
}
.video-explanation {
  color: rgb(173, 173, 173);
  font-family: var(--subheadline-font-family);
  font-size: 18px;
}
.video__play {
  color: #fff;
}
.play__icon {
  background-color: #000;
  margin-left: 15px;
}
